@import '../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

$primary-color: #adadad;
$background-color: #f1f1f1;

.container {
    max-width: 800px;
    margin: 0px auto;
    margin-top: 20px;
    color: $primary-color;
}

.btn {
    border-color: $primary-color;
    background-color: $background-color;

    &:hover {
        color: $background-color;
        background-color: $primary-color
    }
}

.table {
    margin-top: 10px;
    border-collapse: separate;
    color: $primary-color;

      thead > tr>th {
        border-top: 1px solid $primary-color !important;
        border-bottom: 1px solid $primary-color;
        border-left: 0px;
        border-right: 0px;
        color: $primary-color;
        font-weight: 400;

        &:first-child{
            border-radius: 4px 0 0 4px;
            border-left: 1px solid $primary-color;
        }

        &:last-child{
            border-radius: 0 4px 4px 0;
            border-right: 1px solid $primary-color;
        }
    }
    tbody>tr>td {
        border: 0px;
    }
}

.section-actions {
    margin-top: 25px;
    margin-bottom: 10px;

    input {
        margin-left: 5px;
        float:right;
    }
}

.type-pill {
    background-color: $primary-color;
    color: $background-color;
    padding: 3px 10px;
    border-radius: 4px;
    width: 70px;
    text-align: center;
}

.toast-top-right {
    position: fixed;
    top: 45px;
    right: 15px;

    div[toast] {
        border: 1px solid $primary-color;
        border-radius: 4px;
        color: $primary-color;
        width:300px;
        margin-bottom: 10px;

        .toast-message {
            position: relative;
        }

        .toast-icon {
            border-right: 1px solid $primary-color;
            display: inline-block;
            width: 38px;
            span {
                padding:7px;
                font-size: x-large
            }
        }

        .toast-text {
            display: inline-block;
            margin: 10px;
            position: absolute;
        }

        div.row > div:last-child {
            padding-top: 7px;
        }
    }
}